{% extends "::base.html.twig" %}
{% set title = 'New urls' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-6">
            <form role="form" method="POST" action="{{ path('url_update') }}">

              {% include('AppBundle:Url:_form.html.twig') %}


            </form>
        </div>
    </div>

{% endblock %}

